{% import 'macros/google.html.twig' as google %}
<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ pcurl('feed.rss') }}" />

    
    {% block css %}
        <!-- Bootstrap -->
        <link href="{{ pcurl('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ pcurl('css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
        <!-- FontAwesome -->
        <link href="{{ pcurl('css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <!--[if IE 7]>
            <link rel="stylesheet" href="{{ pcurl('css/font-awesome-ie7.min.css') }}">
        <![endif]-->
        <!-- Google Code Prettify Theme -->
        <link href="{{ pcurl('css/prettify/desert.css') }}" type="text/css" rel="stylesheet" />
        <!-- Override Styles -->
        <link rel="stylesheet" type="text/css" href="{{ pcurl('css/styles.css') }}" />
    {% endblock %}

    {% block javascriptTop %}
    {% endblock %}

	<link rel="shortcut icon" href="http://www.gravatar.com/avatar/0c518edd0696b331b63e31f0c2e804fc.png?size=200" />
	<link rel="apple-touch-icon" href="http://www.gravatar.com/avatar/0c518edd0696b331b63e31f0c2e804fc.png?size=200" />{#
    <link rel="openid.server" href="https://pip.verisignlabs.com/server">
    <link rel="openid.delegate" href="http://cbenard.pip.verisignlabs.com/">#}
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" /> 
    <link rel="openid2.local_id" href="https://profiles.google.com/114529083558994158010" /> 

    <meta property="og:title" content="Chris Benard" />
    <meta property="og:url" content="http://chrisbenard.net" />
    <meta property="og:site_name" content="Chris Benard" />
    <meta property="og:description" content="Ramblings of an inquisitive software developer in the Dallas area" />
    <meta property="og:type" content="blog" />
    <meta itemprop="name" content="http://chrisbenard.net" />
    <meta itemprop="description" content="Ramblings of an inquisitive software developer in the Dallas area" />
    <meta property="fb:admins" content="160000389"/>
    <meta property="fb:app_id" content="391330330885193"/>
</head>
<body>

<!--header-->
<header id="header">
    <div class="container">
        {% include('.mainmenu.html.twig') %}
    </div>
</header>