<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" id="mainNavToggleButton" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="{{ site.root }}"><img class="pull-left brand-gravitar" src="http://www.gravatar.com/avatar/0c518edd0696b331b63e31f0c2e804fc.png?size=80" alt="Me" /></a>
            <a class="brand" href="{{ site.root }}">Chris Benard</a>
            <div class="nav-collapse collapse" id="main-menu">
                {# <ul class="nav" id="main-menu-left">
                </ul> #}
                <ul class="nav pull-right" id="main-menu-right">
                    <li><a rel="tooltip" href="{{ pcurl('blog/') }}" title="Blog"{% if page.active|trim == 'blog' %} class="active"{% endif %}>Blog</a></li>
                    <li><a rel="tooltip" href="{{ pcurl('about/') }}" title="About"{% if page.active|trim == 'about' or page.active|trim == 'aboutsite' %} class="active"{% endif %}>About</a></li>
                    <li><a rel="tooltip" href="{{ pcurl('contact/') }}" title="Contact"{% if page.active|trim == 'contact' %} class="active"{% endif %}>Contact</a></li>
                    <li>
                        <a rel="tooltip" href="{{ pcurl('resume/') }}" title="Resume"{% if page.active|trim == 'resume' %} class="active"{% endif %}>Resume</a>
                    </li>
                    <li>
                        <a rel="tooltip" href="{{ pcurl('search/') }}" title="Search"{% if page.active|trim == 'search' %} class="active"{% endif %}>Search</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>