{% import 'macros/google.html.twig' as google %}
{% import 'macros/sidebar.html.twig' as sidebar %}
{% import 'macros/siteposts.html.twig' as siteposts %}
{% block header %}
    {% embed '.header.html.twig' %}
    {% endembed %}

    {% block navbar %}{% endblock %}
{% endblock %}

<section id="container">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>

{% block footer %}
    {% include('.footer.html.twig') %}
{% endblock %}

{% block javascriptBottom %}
    <!--[if lt IE 9]>
    <script src="{{site.root}}js/html5.js"></script>
    <![endif]-->

    {#<script src="http://code.jquery.com/jquery.js"></script>#}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script src="{{ pcurl('js/bootstrap.min.js') }}"></script>
    <script src="{{ pcurl('js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ pcurl('js/prettify/prettify.js') }}"></script>
    <script type="text/javascript" src="{{ pcurl('js/site.js') }}"></script>

    {{ google.analytics('UA-29873536-1') }}
{% endblock %}

</body>
</html>
