<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
    <!-- Bootstrap -->
    <link href="{{ pcurl('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ pcurl('css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
    <!-- Override Styles -->
    <link rel="stylesheet" type="text/css" href="{{ pcurl('css/styles.css') }}" />
    <!-- Google Code Prettify Theme -->
    <link href="{{ pcurl('css/prettify/desert.css') }}" type="text/css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ pcurl('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ pcurl('js/prettify/prettify.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('pre').not('.prettyprint').filter('[class^=brush]').addClass('prettyprint linenums');
            prettyPrint();
        });
    </script>
	
	<link rel="shortcut icon" href="http://www.gravatar.com/avatar/0c518edd0696b331b63e31f0c2e804fc.png?size=200" />
	<link rel="apple-touch-icon" href="http://www.gravatar.com/avatar/0c518edd0696b331b63e31f0c2e804fc.png?size=200" />
    <link rel="openid.server" href="https://pip.verisignlabs.com/server">
    <link rel="openid.delegate" href="http://cbenard.pip.verisignlabs.com/">	

    <meta property="og:title" content="Chris Benard" />
    <meta property="og:url" content="http://chrisbenard.net" />
    <meta property="og:site_name" content="Chris Benard" />
    <meta property="og:description" content="Ramblings of an inquisitive software developer in the Dallas area" />
    <meta property="og:type" content="blog" />
    <meta itemprop="name" content="http://chrisbenard.net" />
    <meta itemprop="description" content="Ramblings of an inquisitive software developer in the Dallas area" />
    <meta property="fb:admins" content="160000389"/>
    <meta property="fb:app_id" content="391330330885193"/>
</head>
<body>
  <div id="container">
    <header>
        {% block header %}
        {% if page.title %}
        <p class="site-title"><a href="{{ site.root }}">{{ site.title }}</a></p>
        {% else %}
        <h1><a href="{{ site.root }}">{{ site.title }}</a></h1>
        {% endif %}
        {% endblock %}
    </header>
    <section id="main" role="main">
        {% block main %}
        {% if page.title %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}

        {{ content|raw }}
        {% endblock %}
    </section>
    <footer>
        {% block footer %}
        {% endblock %}
        <p>{{ piecrust.branding|raw }}</p>
    </footer>
  </div>
</body>
</html>
