{% extends '.template.html.twig' %}

{% block content %}

    <div class="row pull-center" id="brand-hero">
        <div class="span12 service">
            <div class="well bg-color-blue-light fg-color-darken">
                <button type="button" class="close" id="close-brand-hero">&times;</button>
                <h2>Hi there! I'm <span class="fg-color-green">Chris Benard</span>.</h2>
                <p>
                    I'm a software developer living in Texas. I specialize in .Net and connected systems, 
                    and I like to help machines talk to each other. I write about programming topics and
                    personal stuff too here on this site. Feel free to read more or get in touch!
                </p>
                <p>
                    <a class="btn btn-info btn-large brand-hero-button" href="{{site.root}}contact/">Get in Touch</a>
                    <em class="hidden-phone">&ndash; or &ndash;</em>
                    <a class="btn btn-success btn-large brand-hero-button" id="hero-read-blog-btn" href="{{site.root}}blog/">Read My Blog</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <section id="page-sidebar" class="pull-left span9">
            <h2>Latest From My Blog</h2>

            {{ content|raw }}

            <div class="pagination pagination-centered">
                <a class="btn btn-success btn-large" href="{{site.root}}blog">Read More Posts &raquo;</a>
            </div>
        </section>

        {% block sidebar %}
            {{ sidebar.showsidebar(blog, true) }}
        {% endblock %}
    </div>

{% endblock %}