{% macro renderpartial(thepost, thecontent, singlePostView) %}
<article class="blog-post" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="span1 hidden-phone">
            <div class="post-meta-month">{{ thepost.date|date('M') }}</div>
            <div class="post-meta-day">{{ thepost.date|date('d') }}</div>
            <div class="post-meta-year">{{ thepost.date|date('Y') }}</div>
        </div>
        <div class="span8">
            <h2 class="post-title"><a href="{{ thepost.url }}">{{ thepost.title }}</a></h2>
            <h5 class="post-meta-author">
                By: <a class="post-meta-google-authorship" href="https://plus.google.com/u/0/114529083558994158010/?rel=author">Chris Benard</a>
                <a href="{{ pcurl('about/') }}?rel=me">Chris Benard</a>
            </h5>
            <h5 class="post-meta-postdate visible-phone">Posted: {{ thepost.date|date('M') }} {{ thepost.date|date('d') }}, {{ thepost.date|date('Y') }}</h5>
            {% if thepost.tags %}
                <div class="post-meta-tags">
                    <i class="icon-tag{% if (thepost.tags|length > 1) %}s{% endif %}"></i>
                    {% for tag in thepost.tags %}
                     <a class="post-meta-tag" href="{{ pctagurl(tag) }}">{{ tag|lower }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="post-content">
                {% if thepost.isimported %}{% spaceless %}
                    <div class="alert alert-warn">This post is imported from a previous version of my website. If you see something funny I missed and you think I might be able to fix it, please <a href="{{ pcurl('contact/') }}">drop me a line</a>.</div>
                {% endspaceless %}{% endif %}

                {{ thecontent|raw }}

                {% if not singlePostView and thepost.has_more %}
                    <p><a href="{{ thepost.url }}" class="btn btn-large btn-inverse"><i class="icon-chevron-right"></i>Continue reading</a></p>
                {% endif %}

                {% if not singlePostView %}
                    <div class="commentsLink">
                        <a href="http://chrisbenard.net/{{ thepost.slug }}/#disqus_thread"></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% endmacro %}
{% macro renderdescription(thecontent) %}
    {% set articleFinder1 = 'drop me a line</a>.</div>' %}
    {% set articleFinder2 = '<div class="post-content">' %}
    {% set foundArticleFinder = '' %}
    {% if articleFinder1 in thecontent %}
        {% set foundArticleFinder = articleFinder1 %}
    {% elseif articleFinder2 in thecontent %}
        {% set foundArticleFinder = articleFinder2 %}
    {% endif %}
    {% if foundArticleFinder %}
        {% set pageDescription = thecontent|raw|split(foundArticleFinder)[1] %}
    {% else %}
        {% set pageDescription = thecontent|raw %}
    {% endif %}
    {% set pageDescriptionFinished = pageDescription|striptags|slice(0, 500)|replace({"\r": ' ', "\n": ' '})|trim %}
    {{ pageDescriptionFinished }}
{% endmacro %}