{% macro renderpartial(thepost, thecontent) %}
<article class="blog-post" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="span1 hidden-phone">
            <div class="post-meta-month">{{ thepost.date|date('M') }}</div>
            <div class="post-meta-day">{{ thepost.date|date('d') }}</div>
            <div class="post-meta-year">{{ thepost.date|date('Y') }}</div>
        </div>
        <div class="span8">
            <h2 class="post-title"><a href="{{ thepost.url }}">{{ thepost.title }}</a></h2>
            <h5 class="post-meta-author">By: <a href="{{ pcurl('about/') }}">Chris Benard</a></h5>
            <h5 class="post-meta-postdate visible-phone">Posted: {{ thepost.date|date('M') }} {{ thepost.date|date('d') }}, {{ thepost.date|date('Y') }}</h5>
            {% if thepost.tags %}
                <div class="post-meta-tags">
                    <i class="icon-tag{% if (thepost.tags|length > 1) %}s{% endif %}"></i>
                    {% for tag in thepost.tags %}
                     <a class="post-meta-tag" href="{{ pctagurl(tag) }}">{{ tag|lower }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="post-content">
                {{ thecontent|raw }}

                {% if thepost.has_more %}
                    <p><a href="{{ thepost.url }}" class="btn btn-large btn-inverse"><i class="icon-chevron-right"></i>Continue reading</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</article>
{% endmacro %}
