<section>
    <h3 class="widget-title">Past Articles</h3>
    <div class="accordion" id="accordion2">
        {% for month in blog.months|slice(0, 3) %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <div class="accordion-toggle">
                        {{ month.name }}
                    </div>
                </div>
                <div id="{{ month.name|replace({' ': ''}) }}"
                     class="accordion-body">
                    <div class="accordion-inner">
                        <ul class="icons ul-list-2">
                            {% for post in month.posts %}
                                <li><a href="{{ pcurl(post.url) }}">{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="pull-center">
            <a class="btn btn-inverse" href="{{ pcurl('archives/') }}"><i class="icon-book"></i> More</a>
        </div>
    </div>
</section>
